.Contact_form {

}

.Contact_inputColWrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.Contact_inputCol {
  width: 100%;

  label {
    display: block;
    width: 100%;
  }
}

.Contact_inputWrap {
  display: flex;
  overflow: hidden;
  position: relative;
  background: #eee;
  color: #000;
  margin-bottom: 12px;
  border-width: 0px 0px 3px;
  border-color: #000 #000 #eee;
  border-style: solid;

  label {
    display: block;
    width: 100%;
  }

  &:focus-within {
    border-bottom-color: #00A2EA;
  }
}

.Contact_input {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
  box-sizing: border-box;
  padding: 15px 18px 12px 18px;
  flex-shrink: 1;
  z-index: 2;
  width: 100%;
  transition: border .15s;
  min-width: 0;
  font-family: "jakarta"; 

  &:focus {
    outline: 0;
  }
}

.Contact_button {
  font-size: 18px;
  color: inherit;
  font-family: "jakarta";
  line-height: 1.2;
  letter-spacing: 0;
  padding: 8px 15px 9px 15px;
  color: #000;
  display: inline-block;
  border: 1px solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 17px;
  padding: 15px 20px;
}

// Result Message
.resultMessage {
  display: none;
  color: #000;
  margin-top: 10px;
}

.submitSuccess {
  display: block;
}

.submitError {
  display: block;
}

.errorMessage {
  display: block;
  color: #000;
}