@import "styles/mixins";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/////
// Navbar
///

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 10px 0;
  background-color: rgba(10, 25, 47, 1);
  transition: background-color .2s;
  width: 100%;

  &.scroll {
    background-color: #000b1b;
  }
}

.navbar_container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.homeLink {
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    height: 40px;
    fill: #00A2EA;
    margin-right: 10px;
  }

  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
  }

  @include mq (0, $md) {
    display: none;
  }
}

// Nav Icon

.navIcon_Container {
  padding: 17px 20px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}

.navIcon {
  width: 26px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #00A2EA;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

.navIcon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.navIcon span:nth-child(2) {
  top: 40%;
  transform-origin: left center;
}

.navIcon span:nth-child(3) {
  top: 80%;
  transform-origin: left center;
}

.navIcon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 20%;
}

.navIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 90%;
  left: 5px;
}

.navMenuContainer {

  // @include mq($md) {
  //   display: none;
  // }
}

.navMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: #112240;
  box-shadow: -10px 0px 30px -15px rgba(2,12,27,.7);
  z-index: 9;
  transform: translateX(100vw);
  visibility: hidden;
  transition: .3s;

  &.open {
    visibility: visible;
    transform: translateX(0vw);
  }
}

.navBackground {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: .4;
  z-index: -100;
  height: 0;
  width: 0;
  cursor: pointer;
  backdrop-filter: blur(10px);
  
  &.open {
    height: 100vh;
    width: 100%;
  }
}

.navMenulinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.navMenuLinks_secondary {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    font-weight: normal;
  }
}
