.serviceItem {
  width: 100%;
  text-align: center;
  padding: 40px;
}

.serviceIcon {
  width: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.serviceTitle {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.serviceDescription {

}