@import "styles/mixins";

@font-face {
  font-family: "Jakarta";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/jakarta/PlusJakartaSans-Regular.woff2") format("woff2"),
       url("/fonts/jakarta/PlusJakartaSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Jakarta";
  font-weight: 800;
  font-style: bold;
  src: url("/fonts/jakarta/PlusJakartaSans-Bold.woff2") format("woff2"),
       url("/fonts/jakarta/PlusJakartaSans-Bold.woff") format("woff");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Jakarta", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0a192f;
  color: #f5f2e8;
  font-size: 16px;
  line-height: 20px;
  
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00A2EA;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.375rem;
  line-height: 44px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

// Smooth Scrolling
html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

// a11y 
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Reset 
input, label, select, button, textarea {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  border-radius: 0;
  outline: 0
}

// Main Structure
main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px;

  @include mq($xl) {
    padding: 0px 150px;
  }

  @include mq($lg) {
    padding: 0px 20px;
  }
}

.container {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}



/////
// Buttons
///


.buttonLarge_wrapper {
  position: relative;
  display: flex;
  width: 200px;
  height: 56px;
  margin-top: 0px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.buttonLarge_fill {
  position: absolute;
  left: 0px;
  top: 16px;
  right: 0px;
  bottom: 0px;
  width: 180px;
  height: 56px;
  background-color: #002e4d;
}

.buttonLarge_top {
  position: absolute;
  left: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  width: 180px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #00A2EA;
  transition: all 200ms ease;
  color: #153956;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    left: 8px;
    top: 8px;
    text-decoration: none;
  }
}

.buttonSmall_wrapper {
  position: relative;
  width: 152px;
  height: 48px;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.buttonSmall_border {
  position: relative;
  width: 152px;
  height: 48px;
  border: 2px solid #00A2EA;
}

.buttonSmall_top {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #0a192f;
  transition: all 200ms ease;
  color: #00A2EA;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    left: 8px;
    bottom: 8px;
    text-decoration: none;
  }
}